{{> admin-navbar}}

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i>
                Register A (Admin/User)
            </h1>

            {{> messages}}

            <form action="/admin/register" method="POST">

                <div class="form-group">
                    <div class="form-floating">
                        <input type="name" id="firstname" name="firstname" class="form-control"
                            placeholder="Enter First Name" value="{{firstname}}" required>
                        <label for="firstname">First Name</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mt-2">
                        <input type="lastname" id="lastname" name="lastname" class="form-control"
                            placeholder="Enter Last Name" value="{{lastname}}" required>
                        <label for="lastname">Last Name</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mt-2">
                        <input type="username" id="username" name="username" class="form-control"
                            placeholder="Enter Username" value="{{lastname}}">
                        <label for="username">Username</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mt-2">
                        <input type="email" id="floatingInput" name="email" class="form-control"
                            placeholder="name@example.com" value="{{email}}" required>
                        <label for="floatingInput">Email Address</label>
                        <small id="emailHelp" class="form-text text-muted">We'll never share
                            your email with anyone else.</small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mt-2">
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Create Password" value="{{password}}" required>
                        <label for="password">Password</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mt-2">
                        <input type="password" id="password2" name="password2" class="form-control"
                            placeholder="Confirm Password" value="{{password2}}" required>
                        <label class="form-label mt-2" for="password2">Confirm Password</label>
                    </div>
                </div>


                <div class="form-floating mt-2">
                    <div class="form-group">
                        <label class="form-label mt-2" for="bio">Bio</label>
                        <input type="name" id="bio" name="bio" class="form-control" placeholder="Enter Name"
                            value="{{bio}}" />
                    </div>
                </div>



                <div class="form-group">
                    <label for="profile_picture" class="form-label mt-2">Profile Picture</label>
                    <input class="form-control" type="file" id="profile_picture" name="profile_picture"
                        value="{{profile_picture}}">
                </div>
                <button type="submit" class="btn btn-outline-primary mt-4">
                    Register
                </button>

            </form>
            {{!-- <p class="lead mt-4">Have An Account? <a href="login">Login</a></p> --}}
        </div>
    </div>
</div>