{{#if user.id}}
{{#ifAdmin user.role}}
{{> admin-navbar}}
{{else}}

{{> todo-navbar}}
{{/ifAdmin}}

{{else}}
{{!-- <h6>NOT LOGGED IN</h6> --}}
{{/if}}

{{!-- ----------------------------------------------------------------------------------- --}}

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card border-light card-body">

            <h4 class="text-center mb-3">
                Update Task
            </h4>

            {{> messages}}

            {{#each allTasks}}
            <form action="/todo/tasks/update/{{task_id}}" method="POST">
                <div class="form-group">
                    <div class="form-floating mt-2">
                        <input type="name" id="taskTitle" name="taskTitle" class="form-control"
                            placeholder="Enter First Name" value="{{task_title}}" required />
                        <label for="taskTitle">Task Title</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mt-2">
                        <input type="name" id="taskSubtitle" name="taskSubtitle" class="form-control"
                            placeholder="Enter First Name" value="{{task_subtitle}}">
                        <label for="taskSubtitle">Task Subtitle</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mt-2">
                        <textarea class="form-control" name="taskTodo" id="taskTodo" cols="30" rows="30"
                            required />{{task_todo}}
                        </textarea>
                        <label for="taskTodo">Task Todo</label>
                    </div>
                </div>

                <div>
                    <div class="btn-group mt-3" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="done" id="btnradio1" autocomplete="off" checked=""
                            value="Yes">
                        <label class="btn btn-outline-primary" for="btnradio1">Done</label>
                        <input type="radio" class="btn-check" name="done" id="btnradio2" autocomplete="off" checked=""
                            value="No">
                        <label class="btn btn-outline-primary" for="btnradio2">Not Yet</label>
                    </div>
                </div>


                <button type="submit" class="btn btn-outline-primary mt-4">
                    Submit
                </button>

            </form>
            {{/each}}

        </div>
    </div>
</div>